<div class="content">
  <h2>Login</h2>
  {{!-- Show error message if credentials are incorrect --}}
  {{#if messages}}
    <div class="alert alert-danger">
      Invalid credentials
    </div>
  {{else}}
    <h3><strong>Please enter your credentials</strong></h3>
  {{/if}}
  <form method="post">
    <fieldset class="form-group">
      <label for="username" class="col-2 control-label">Username: *</label>
      <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
      <label for="password" class="col-2 control-label">Password: *</label>
      <input name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
      <button class="button">Login</button>
      <h2 style="margin: 10px 0px 0px 14px;">or</h2>
      <a class="button" href="/auth/google">Login with Google</a>
      <hr />
      <div style="text-align:left;">Need an account?
      <a href="/register" title="Register">Register</a>
      </div>
    </fieldset>
  </form>
</div>
