<div class="content">
<h2>
  {{title}}
</h2>
<form method="POST">
  <fieldset>
    <label for="name" class="col-2">
      Instructor:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label for="dueDate" class="col-2">
      Date:
    </label>
    <input name="dueDate" id="dueDate" required type="date" />
  </fieldset>
  <fieldset>
    <label for="category" class="col-2">
      Activity:
    </label>
    <select name="category" id="category">
      {{#each categories}}
        <option>{{ this.name }}</option>
      {{/each}}
    </select>
  </fieldset>
  <button class="button">
    Save
  </button>
</form>
</div>