<div class="content">
<h2>
  {{title}}
</h2>
<form method="POST">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label for="dueDate" class="col-2">
      Date:
    </label>
    <input name="dueDate" id="dueDate" required type="date" />
  </fieldset>
  <fieldset>
    <label for="category" class="col-2">
      Category:
    </label>
    {{! <input name="category" id="category" required /> }}
    <select name="category" id="category">
      {{! for loop to render options }}
      {{#each categories}}
        <option>{{ this.name }}</option>
      {{/each}}
    </select>
  </fieldset>
  {{! No need to specify Status since it has a default value }}
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="button">
    Save
  </button>
</form>
</div>