<div class="content">
<h2>
  {{title}}
</h2>
<form method="POST">
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label for="category" class="col-2">
      Category:
    </label>
    <select name="category" id="category">
        <option>Sports</option>
        <option>Arts</option>
        <option>Outdoor</option>
        <option>Music and Drama</option>
    </select>
  </fieldset>
   <fieldset>
    <label for="ages" class="col-2">
      Ages:
    </label>
    <select name="ages" id="ages">
        <option>Junior 2 - 4 yrs.</option>
        <option>Kinder 5 - 7 yrs.</option>
        <option>Kids 8 - 11 yrs.</option>
        <option>Teen 12 - 15 yrs.</option>
    </select>
  </fieldset>
  
  <button class="button">
    Save
  </button>
</form>
</div>